.title {
    font-size: 20px;
    min-width: 250px;
}

.title__background {
    max-width: 737px;
    margin: 10px auto 2px auto;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

    @media (max-width: 767px) {
        .title__background {
            margin: 10px 20px 2px 20px;
        }
    }

    @media (max-width: 645px) {
        .title__backgroundList {
            grid-template-columns: 1fr;
        }
    }